<div class="container">
  <div class="row">
    <h2>Address Book - List</h2>
      <div ng-repeat="name in contactList">
        <div class="col s12 m4">
          <div class="card small">
            <div class="center-text">{{name.first_name}}</div>
            <div class="center-text">{{name.last_name}}</div>
            <div class="">{{name.city}}</div>      
            <div class="">{{name.phone}}</div>
            <div class="">{{name.id}}</div>
            <div class="float right"><button class="btn btn-small btn-floating waves-effect red" ng-click="delete(name.id)">X</button></div>
          </div>
        </div>
      </div>
  </div>
</div> 